<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>MapText</title>
</head>

<body style='margin:0;'>
  <a href='#' onclick="regenerateHU();">Magyar újragenerálása</a><br>
  <a href='#' onclick="regenerateSK();">Szlovák újragenerálása</a>
  <img src='<%= url %>' style='width:2000px; height:auto; max-height:800px; display:block;'>
  <div id='svg'>
    <%- /* data */  %>
  </div>
  <script type='text/javascript'>
    function regenerateHU() {
      let xmlhttp = new XMLHttpRequest()
      xmlhttp.open("GET", "regenerateHU", true)
      xmlhttp.send()

      xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          let result = JSON.parse(this.responseText)
          if (result.success) {
            window.location.replace('./')
          }
        }
      }
    }

    function regenerateSK() {
      let xmlhttp = new XMLHttpRequest()
      xmlhttp.open("GET", "regenerateSK", true)
      xmlhttp.send()

      xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          let result = JSON.parse(this.responseText)
          if (result.success) {
            window.location.replace('./?lang=sk')
          }
        }
      }
    }

  </script>
</body>

</html>
