<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>MapText</title>
</head>

<body style='margin:0;'>
  <a href='regenerateHU'>Magyar újragenerálása</a>
  <a href='regenerateSK'>Szlovák újragenerálása</a>
  <img src='<%= url %>' style='width:2345px; height:auto; max-height:1000px; display:block;'>
</body>

</html>
